{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "indent": "off",
    "vue/script-indent": ["error", 2, {
      "baseIndent": 1
    }],
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "standard/no-callback-literal": "off",
    "no-mixed-operators": "off"
  }
}
