{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base/legacy",
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "parser": "babel-eslint",
  "plugins": ["compat"],
  "rules": {
    "compat/compat": "warn",

    "semi": [
      "error",
      "always"
    ],
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "class-methods-use-this": "warn",
    "no-mixed-operators": ["error", {
      "allowSamePrecedence": true
    }]
  }
}
